<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  

  <!-- Main Content -->
  <h2 class="form-title">Login to DS Computer Institute</h2>
  <p class="form-description">Please login with your email and password.</p>

  <!-- Login Form -->
  <div class="form-container">
    <form id="login-form" method="POST" action="/login">
      <h3>Login</h3>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit">Login</button>
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </form>
  </div>

  
</body>

</html>
