<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h2 class="form-title">Reset Password</h2>
  <p class="form-description">Enter your new password.</p>

  <div class="form-container">
    <form method="POST" action="/reset-password">
      <h3>Reset Password</h3>
      <input type="hidden" name="token" id="token">
      <input type="password" placeholder="New Password" name="password" required>
      <button type="submit">Reset Password</button>
    </form>
  </div>

  <script>
    const token = window.location.pathname.split('/').pop();
    document.getElementById('token').value = token;
  </script>
</body>

</html>