<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Please Wait</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  

  <!-- Main Content -->
  <div class="waiting-container">
    <div class="container waiting-box">
      <div class="loader"></div>
      <h1>Please Wait...</h1>
      <p>Your exam has not been set yet.<br />Contact your administrator to continue.</p>
      <a class="btn" href="/logout">Logout</a>
    </div>
  </div>

  
</body>

</html>